# check : source .venv/bin/activate puis installer : pip install -r .requirements.txt et pour désactiver : deactivate
langchain
langchain-core
langchain-community
pypdf
pymupdf

# for the embedding part :
sentence-transformers # model available on HuggingFace
faiss-cpu # vector store
chromadb  # vector store

# for the RAG Pipelin with Groq LLM
langchain-Groq
python-dotenv # reads key-value pairs from .env file and can set them as environment variables
